@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #FF7979;
  background-image: url('./images/bg-intro-desktop.png');
}

#root {
  max-width: 600px;
  padding-bottom: 60px;
}

header {
  margin-top: 88px;
  margin-left: 18px;
  margin-right: 18px;
}

h1 {
  color: #FFF;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.292px;
}

h4 {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 16px;
}

section {
  margin-top: 64px;
  margin-right: 18px;
  margin-left: 18px;
}

.purple-div{
  width: 100%;
  height: 88px;
  border-radius: 10px;
  background: #5E54A4;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
}

.purple-div-p {
  text-align: center;
  color: #FFF;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.268px;
  margin: 0px 66px 18px 67px;
  padding-top: 18px;
}

.white-box {
  width: 100%;
  min-height: 422px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

input {
  margin-bottom: 16px;
  width: 100%;
  height: 56px;
  border-radius: 5px;
  border: 1px solid #DEDEDE;
  background: #FFF;
  padding-left: 19px;
  color: #3D3B48;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px; 
  letter-spacing: 0.25px;
}

.claim-btn {
  width: 100%;
  height: 56px;
  border-radius: 5px;
  background: #38CC8B;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}

.claim-btn:hover{
  background: #77E2B3;
  transition: 0.2s;
}

.terms-and-services {
  margin-top: 8px;
  color: #BAB7D4;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  line-height: 26px; 
  }

.orange-bold-txt {
  color: #FF7979;
}

.error-text {
  color: #FF7979;
  text-align: right;
  font-size: 11px;
  font-style: italic;
  font-weight: 500;
  position: relative;
  top: -13px;
}



@media screen and (min-width: 1000px) {

  body{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #root {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1440px;
    padding-left: 165px;
    padding-right: 165px;
  }

  header {
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
  }

  h1 {
    text-align: left;
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -0.521px;
  }

  h4 {
    text-align: left;
  }

  section {
    min-width: 540px;
    margin-left: 19px;
  }

  .purple-div {
    height: 60px;
  }

}